.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5%;
}
iframe {
  width: 70%;
  height: 358px;
  border: 1px solid #ddd;
  margin-block-start: 120px;
  border-radius: 25px;
}
.content {
  width: 90%;
  margin-block-start: 30px;
  color: white;
  /* font-size: 18px; */
}
.h2 {
  color: var(--secoundary);
}
.h3 {
  color: #5f84c9;
  margin-block: 15px;
}
.h4 {
  color: var(--main);
  margin-block: 5px;
}
.card {
  margin-block: 60px;
  color: var(--secoundary);
  text-align: center;
}
.card iframe {
  width: 90%;
}
.card p {
  margin-block-end: -100px;
}
.hr {
  width: 90vw;
}
