:root {
  /* --gold: rgb(156, 163, 27); */
  /* --secoundary: #83b4ff; */
  /* --main: #5a72a0;
  --btn-color: rgba(94, 192, 216, 0.6);
  --btn-hover-color: rgb(94, 191, 216); */
}
body {
  background-color: var(--bc--main);
}
.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 60px 50px;
  overflow: hidden;
  border-color: var(--secoundary);
  background-color: var(--bc--header);
  /* height: 100vh; */
}
.main .card {
  width: 28%;
  /* height: 450px; */
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  /* background-color: var(--main); */
  color: white;
  font-size: 14px;
  margin: 1.5%;
  cursor: pointer;
  border: solid 1px var(--main);
  overflow: hidden;
}
@media (max-width: 940px) {
  .main .card {
    width: 30%;
  }
}
@media (max-width: 740px) {
  .main .card {
    width: 45%;
  }
}
.main .card img {
  height: 35%;
  margin: 0;
  border-radius: 20px 20px 0 0;
}
@media (max-width: 500px) {
  .main {
    justify-content: center;
    margin: 40px 0px;
  }
  .main .card {
    width: 95%;
    height: 400px;
    margin-block-end: 40px;
  }
  .main .card img {
    height: 45%;
    margin: 0;
    border-radius: 20px 20px 0 0;
  }
}
@media (max-width: 350px) {
  .main .card {
    width: 100%;
    height: 450px;
    margin-block-end: 40px;
  }
  .main .card img {
    height: 45%;
    margin: 0;
    border-radius: 20px 20px 0 0;
  }
}
.main .card div {
  padding: 0 15px;
}
.quran_h3 {
  color: var(--secoundary);
  margin-block-start: 10px;
}
